name: FixThermalMode CI

on:
  push:
    branches: [ "main" ]
    # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    name: Build FixThermalMode
    runs-on: windows-latest

    permissions:
      contents: write

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Get submodules
      shell: pwsh
      run: git submodule update --init

    - name: Build and publish FixThermalMode
      shell: pwsh
      run: '.\Build-Code.ps1'

    - name: Build installer
      shell: pwsh
      run: '.\Build-Setup.ps1'

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: MSI Package
        path: src\FixThermalMode.Setup\bin\x64\Release\FixThermalMode.Setup.msi
        if-no-files-found: error

    - name: Upload binaries to release
      if: startsWith(github.ref, 'refs/tags/v')
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ./src\FixThermalMode.Setup\bin\x64\Release\FixThermalMode.Setup.msi
        asset_name: FixThermalMode.Setup.msi
        tag: ${{ github.ref }}
        overwrite: true
